<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div style="margin-top:30px" class="row">
    <div class="col-sm-4" id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cuentas/">Cuentas</a></li>
            <li><a href="/busqueda/">Buscador</a></li>
            <li><a href="/movimientos/">Movimientos</a></li>
            <li><a href="/localidades/">Localidades</a></li>
            <li><a href="/gerentes/">Gerentes</a></li>
        </ul>
        {% endblock %}
    </div>
    <div class="col-sm-8" id="content">
        {% block content %}{% endblock %}
    </div>
    </div>
</body>
</html>
